.knowus{
    border-radius: 50% 50% 0 0;
    height: 110vh;
    width: 100%;
    padding: 2.5rem 1rem 1rem 1rem;
    text-align: center;
    background-image: linear-gradient(to bottom, #009a90, transparent);
    color: #ffff;
    margin-top: 3rem;
    border-top: 1px solid;
}

.knowus-title{
    margin: 3rem auto 0;
    width: 50%;
}

.knowus-title h2{
    font-size: 40px;
    width: 80%;
    margin: auto;
}

.knowus-title p{
    font-size: 24px;
    margin-top: 0.5rem;
}

.knowus-image{
    margin: 4% auto 0;
    width: 85%;
    height: calc(100% - 30%);
    position: relative;
}

.knowus-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.knowus-text{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(104,106,113, 0.7);
    padding: 1.5rem 1.5rem 0.5rem;
    text-align: start;
    border-radius: 0px 0px 5px 5px;
}

.knowus-text h2{
    font-size: 28px;
}

@media(max-width: 768px){
    .knowus{
        height: fit-content;
        padding-top: 2rem;
        border-radius: 49% 49% 0 0;
    }

    .knowus-title{
        width: 100%;
    }

    .knowus-title h2{
        font-size: 20px;
    }

    .knowus-title p{
        font-size: 15px;
        width: 90%;
        margin: 0.5rem auto;
    }

    .knowus-image{
        width: 100%;
        height: 200px;
    }

    .knowus-text{
        padding: 1rem 1rem 0.2rem;
    }

    .knowus-text h2{
        font-size: 20px;
    }

}
