.contact{
    width: 75%;
    margin:3rem auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0.5rem;
    color: #ffff;
}

.reach-out{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 24px;
}

.reach-out h2{
    text-decoration: underline;
    font-size: 36px;
    text-transform: capitalize;
}

.contact-icons{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.icon-item{
    font-size: 2rem;
}

.channel-path{
    font-size: 16px;
    color: #fff08a;
}

.contact .form{
    background-image: linear-gradient(to bottom right,#122556 20%, #b02ee5);
    padding: 2rem;
}

form label{
    font-size: 18px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

form input{
    width: 100%;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 0.3rem;
}

form textarea{
    width: 100%;
    border-radius: 2px;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: none;
    outline: none;
    resize: none;
}
form input[type="submit"]{
    width: max-content;
    margin: 1rem auto 0;
    padding: 0.7rem 2rem;
    cursor: pointer;
    font-size: 18px;
    border-radius: 25px;
}

@media(max-width: 768px){
    .contact{
        width: 100%;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    form{
        padding: 1rem;
    }

    .contact .form{
        padding: 0;
    }

    .form input[type="submit"]{
        font-size: 16px;
        margin-top: 0.5rem;
    }

    .reach-out{
        font-size: 20px;
    }
}

.newsletter{
    width: 75%;
    height: 300px;
    margin: 6rem auto 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-image: linear-gradient(to bottom, rgba(16,81,77, 0.7) 99%, transparent);
    color: #fff;
}

.newsletter h2{
    font-size: 32px;
    text-transform: capitalize;
}

.newsletter p{
    font-size: 18px;
    text-align: center;
}

.newsletter button{
    color: #fff;
    background-color: #666e91;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2.5rem;
    border-radius: 25px;
    font-size: 18px;
}

@media(max-width: 768px){
    .newsletter{
        width: 100%;
    }
}