.members{
    background-image: linear-gradient(to bottom, #171c30, #1e3041);
    margin-top: 3rem;
    padding: 1rem 0 3rem;
}

.starts{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 2rem auto 3rem;
}

.start{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.start span{
    color: #fff;
    font-size: 20px;
}

.members-spotlight{
    text-align: center;
    margin-top: 1rem;
}

.spotlight-header{
    width: 50%;
    margin: auto;
    color: #ffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.spotlight-header h2{
    font-size: 40px;
}

.spotlight-header p{
    font-size: 16px;
}

.spotlight-images{
    display: flex;
    justify-content: center;
    align-items: inherit;
    gap: 2rem;
    margin-top: 2rem;
    padding: 0 1rem;
}

.image-item:nth-of-type(odd){
    width: 300px;
    height: 350px;
    position: relative;
    border-radius: 2px;
}

.image-item:nth-child(3){
    margin-top: calc(400px - 300px);
}

.image-item:nth-child(2){
    height: 450px;
    width: 400px;
}
.image img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.spotlight-text{
    background-color: rgb(199, 192, 192);
    text-align: start;
    padding: 0.5rem 1rem;
    border-radius: 0 0 5px 5px;
}

.spotlight-text h2{
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.spotlight-text p{
    font-size: 12px;
}

.mobile{
    display: none;
}

@media(max-width: 768px){
    .members{
        border-radius: 0;
        padding: 1rem 0 2rem;
        height: max-content;
    }
    .starts{
        width: 95%;
        margin: 2rem auto;
    } 

    .start h1{
        font-size: 24px;
    }

    .start span{
        font-size: 12px;
    }

    .spotlight-header{
        width: 100%;
    }
   .spotlight-header h2{
    font-size: 24px;
   }

   .spotlight-header p{
    font-size: 15px;
   }

   .desktop{
    display: none;
   }

   .mobile{
    display: block;
    margin-top: 2.5rem;
   }

   .mobile .slider {
    width: 90%;
    overflow: hidden;
   }
}
