footer{
  background: #0a0a23;
  color: #fff;
  padding: 2rem 6rem;
  overflow-x: hidden;
}
.f-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f1-logo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.img-con{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.icons-con{
  display: flex;
  flex-direction: column;
  
}
.con{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fff;
  padding-top: 20px;
}
.i1{
  padding: 0.3rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
footer a{
  text-decoration: none;
  color: #fff;
}
.p{
  padding: 0 1rem;
}
.i2 h4{
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
}
.copy{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ============================================================
=========================Media queries=========================
=============================================================== */

@media screen and (max-width: 768px) {
  .con{
    display: block;
    justify-content: space-between;
    align-items: center;
    border-top: none;
    padding-top: 20px;
  }
}

