body {
  background-image: linear-gradient(to right, #273347, #36264a, #394456);
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  cursor: pointer;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-paragraph leading-6 bg-gray-200;
  }

  h2,
  h4{
    @apply text-white font-primary;
  }
  .section {
    @apply py-12 lg:py-32;
  }
  .section-title {
    @apply text-3xl lg:text-4xl font-medium lg:font-extrabold mb-5 underline underline-offset-8;
  }
  .btn {
    @apply w-[150px] items-center my-5 py-2 bg-white shadow-lg hover:bg-green text-black rounded-full;
  }
  .input {
    @apply bg-secondary mt-2 p-2 rounded-md ring-1 ring-gray-300 w-full px-4 py-2 bg-white text-black focus:border-blue-500 focus:bg-gray-200 focus:outline-none  ;
  }
  .textarea {
    @apply bg-secondary rounded-md mt-2 p-2 focus:border-blue-500 text-black
    focus:bg-gray-200 focus:outline-none ;
  }
} */