.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    z-index: 99;
    transition: all 0.3s ease-in-out;
}

.sticky{
    position: sticky;
    top: 0.5rem;
    width: 85%;
    margin: auto;
    background-color: #273347;
    border-radius: 50px;
}

.logo img{
    height: 70px;
    cursor: pointer;
}

.nav-links{
    display: flex;
    gap: 1.5rem;
    z-index: 999;
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
    padding: 0 1rem;
    border-radius: 3px;
}

.active{
    border-bottom: 2px solid #009a90;
}

.nav-buttons{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.theme-toggle{
    font-size: 24px;
    cursor: pointer;
}

.nav-toggle{
    display: none;
}

.nav-buttons button{
    background-color: transparent;
    padding: 0.3rem 1rem;
    border-radius: 16px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

@media(max-width: 768px){
    .header{
        justify-content: space-between;
        box-sizing: border-box;
    }

    .sticky{
        top: 0;
        width: 100%;
        border-radius: 0;
    }

    .logo img{
        height: 55px;
    }

    .nav-links{
        position: absolute;
        width: 100%;
        top: -100%;
        flex-direction: column;
        align-items: center;
        background-color: #273347;
        transition: all 0.9s ease-in-out;
        display: none;
    }

    .nav-toggled{
        display: flex;
        top: 3rem;
        padding: 1rem 0;
    }

    .nav-toggle{
        display: block;
        margin-right: 0.5rem;
        font-size: 24px;
    }

    .theme-toggle{
        font-size: 18px;
    }
}

